
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  overflow: scroll;
}
#wrap {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
#contents {
  padding-bottom: 140px;
}
header {
  width: 100%;
  background-color: #00bfff;
  height: 54px;
  margin: 0
}
header ul {
  margin: 0 auto;
  list-style: none;
}
header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
header li {
  float: left;
  width: auto;
}
header ul:after {
  content: "";
  display: block;
  clear: both;
}
footer {
  width: 100%;
  background-color:#00bfff;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  height: 140px;
}
.contents {
  height: 100px;
}
